body {
    /* 设置背景图像 */
    background-image: url('noise.gif');

    /* 使背景图像填满整个页面 */
    background-size: cover;

    /* 背景图像不随网页滚动而滚动 */
    background-attachment: fixed;

    /* 确保背景图像不会重复 */
    background-repeat: no-repeat;

    /* 背景图像居中对齐 */
    background-position: center center;

    /* 可选：设置网页内容的最小高度为视口的高度 */
    min-height: 100vh;
    font-family: 'Press Start 2P', monospace;
    line-height: 1.7;
    letter-spacing: 0.2px;
    font-size: 0.8em;
    display: grid;
    place-items: center; /* 水平和垂直居中 */
    margin: 0;
    padding: 0;
    background-color: #b8b8b8;
}

.gif-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; /* 确保GIF位于内容之上 */
    pointer-events: none; /* 关键点：允许鼠标事件“穿透”这个层 */
}

.gif-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 根据需要调整 */
    opacity: 0.5;
}

.container {
    max-width: 850px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #001F3F;
    position: relative;
    border-radius: 6px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 255, 42);
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    z-index: 5;
    opacity: 0.85;
}

.dialogue-box {
    height: 300px;
    width: 800px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #001F3F;
    background-color: #000;
    color: #fff;
    margin-top: 40px;
    border-radius: 6px;
}

/* 更改对话框内滚动条的轨道（背景部分）和滑块（可拖动部分）的样式 */
.dialogue-box::-webkit-scrollbar {
    width: 10px; /* 滚动条宽度 */
}

.dialogue-box::-webkit-scrollbar-track {
    background: #292929; /* 滚动条轨道的背景颜色 */
}

.dialogue-box::-webkit-scrollbar-thumb {
    background: #6b6b6b; /* 滚动条滑块的颜色 */
    border-radius: 20px;
}

/* 当鼠标悬停在滚动条上时，改变滑块的颜色 */
.dialogue-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.dialogue-box p {
    margin: 0;
}

/* 输入区域样式 */
.input-area {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-prefix {
    color: #fff;
    margin-right: 5px;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #000;
    border: 1px solid #001F3F;
    color: #fff;
}

.user-message, .ai-response {
    position: relative; /* 必须设置 position 属性来使 z-index 生效 */
    z-index: 5; /* 比 GIF 覆盖层高的 z-index */
    opacity: 0.85;
}

.user-message {
    color: white; /* 用户消息的颜色 */
}

.ai-response {
    color: rgb(0, 255, 42); /* AI 消息的颜色 */
}


